<ion-content class="back-color">
  <agm-map [style.height.px]="height" [latitude]="lat" [longitude]="lng">
    <agm-marker
      *ngFor="let m of markers; let i = index"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      [iconUrl]="m.icon"
    >
      <agm-info-window>
        <strong class="agm-name-value" (click)="sendMessage(m)"
          >{{m.user.name}}
        </strong>
        <div (click)="sendMessage(m)" class="agm-name-value">
          Click to send msg
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</ion-content>

<ion-footer>
  <ion-toolbar class="tab-color">
    <ion-tabs class="tab-color">
      <ion-tab-bar class="tab-color" slot="bottom">
        <ion-tab-button (click)="goToMap()">
          <ion-icon class="tab-color" name="map"></ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="goToCompass()">
          <ion-icon class="tab-color" name="compass-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="showAboutMessage()">
          <ion-icon class="tab-color" name="person-circle-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
