<ion-content [fullscreen]="true">
  <div class="center-img">
    <div>
      <img id="myimage" src="/assets/images/compass.png" />
    </div>
  </div>

  <ion-list class="compass-list">
    <div *ngFor="let user of users" (click)="sendMessage(user)">
      <app-compass-list-item [user]="user" [(me)]="me"></app-compass-list-item>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar class="tab-color">
    <ion-tabs class="tab-color">
      <ion-tab-bar class="tab-color" slot="bottom">
        <ion-tab-button (click)="goToMap()">
          <ion-icon class="tab-color" name="map"></ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="goToCompass()">
          <ion-icon class="tab-color" name="compass-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="showAboutMessage()">
          <ion-icon class="tab-color" name="person-circle-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
