#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.red {
  background-color: red;
}

.center-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-img > div {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.compass-list {
  height: 100%;
  overflow: auto;
}

.tab-color {
  color: gray;
}
