<ion-item>
  <ion-avatar slot="start">
    <img src="{{ user.imageLocation }}" />
  </ion-avatar>
  <ion-label>
    <h2>{{ user.name }}</h2>
    <h3>{{ itemDistance }}</h3>
  </ion-label>
  <div *ngIf="showArrow" #myArror class="image-arrow">
    <img src="/assets/images/arrow.png" />
  </div>
</ion-item>
